@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin: 3rem 0 0 0, 0, 0, 0;
  font-size: 1.35rem;
  background-color: #FBFEFD;
  color: #707070;
  line-height: 1.6;
}

section {
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*=========================
    DEFAULT DOCUMENT CSS
========================== */
.section {
  padding: 4rem 2rem;
}

.section-title {
  font-size: 1.5rem;
  color: #393939;
  margin-bottom: 1.5rem;
}

.section-subtitle {
  display: block;
  color: #00b309;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.section:last-child {
  margin-bottom: 0;
}

.heading__title {
  font-size: 5.275rem;
  font-weight: 700;
  line-height: 1.175;
  color: #393939;
  text-align: center;
}

.btn-holder {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

/*=========================
    LAYOUT
========================== */
.body-container {
  max-width: 960px;
  width: calc(100%-2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.body-grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

@media screen and (min-width: 576px) {
  .section-title {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .body-container {
    margin: 0 auto;
  }
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FBFEFD;
  padding: 1rem;
}

.nav {
  max-width: 1024px;
  height: 3rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-bottom: 1rem;
}

.nav__link, .nav__logo, .nav__toggle {
  color: #707070;
  font-weight: 400;
}

.nav__logo {
  font-size: 700;
}

.nav__logo:hover {
  color: #272727;
}

.nav__link {
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  color: #272727;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: #FBFEFD;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: 100;
  }
  main {
    margin-top: 50px;
  }
}

.show-menu {
  top: 3rem 0 0 0;
}

.active-link {
  color: #00b309;
}

.scroll-header {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: inherit;
  z-index: 10;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: #5BAF65;
}

.scrolltop__icon {
  font-size: 2.5rem;
  color: #fff;
  background-color: #00b309;
  border-radius: 5px;
}

.scroll-top {
  visibility: visible;
  bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 8rem;
  }
  .nav {
    height: calc($header-height)1.5rem;
  }
}

.home__container {
  height: calc(100vh - ( $header-height ));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__data {
  margin: 0 auto;
}

.home__title {
  font-size: 2.25rem;
  line-height: 1.175;
  color: #393939;
  margin-bottom: 0.5rem;
}

.home__subtitle {
  font-size: 1.25rem;
  color: #393939;
}

.home__image {
  width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  margin-bottom: 3rem;
}

.text {
  text-align: center;
}

.newsletter__title {
  text-align: center;
  margin-top: 1rem;
}

.newsletter__form {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter__input {
  display: block;
  width: 330px;
  margin: .875rem;
  padding: 1.2rem;
  background-color: rgba(128, 128, 128, 0.1);
  border: none;
}

.newsletter__btn {
  font-size: 1.35rem;
}

.about__data {
  text-align: center;
}

.about__subtitle {
  font-size: 1.5rem;
  color: #393939;
  margin-bottom: 1.5rem;
}

.about__description {
  text-align: left;
  margin-bottom: 1.5rem;
}

.about__image {
  width: 300px;
  margin: 0 auto;
}

.services {
  text-align: center;
}

.services__content {
  text-align: center;
}

.services__image {
  width: 300px;
}

.services__name {
  margin-bottom: 0;
}

.services__description {
  text-align: left;
}

.menu__container {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding: .75rem;
  -webkit-box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
          box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
  max-width: 190px;
}

.menu__image {
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
}

.menu__name, .menu__price {
  font-weight: 700;
  color: #393939;
}

.menu__name {
  font-size: 1.35rem;
}

.menu__detail, .menu__price {
  font-size: 1rem;
}

.menu__detail {
  margin-bottom: 0.5rem;
}

.menu__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}

.app {
  padding: 1.5rem 1.5rem 0;
}

.app__data {
  text-align: center;
}

.app__description {
  margin-bottom: 1rem;
}

.app__stores {
  margin-bottom: 2.5rem;
}

.app__store {
  width: 120px;
  margin: 0 0.5rem;
}

.contact__container {
  text-align: center;
}

.footer {
  padding: 1.5rem 1.5rem 0;
}

.footer__container {
  text-align: center;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  font-size: 1rem;
  color: #00b309;
  font-weight: 700;
}

.footer__description {
  display: block;
  font-size: 1rem;
  margin: 0.25rem 0 1.5rem;
}

.footer__social {
  font-size: 1.25rem;
  color: #707070;
  margin-bottom: 1rem;
}

.footer__title {
  font-size: 1.25rem;
  color: #393939;
  margin-bottom: 1rem;
}

.footer__link {
  display: inline-block;
  color: #707070;
  margin-bottom: 1rem;
}

.footer__link:hover {
  color: #00b309;
}

.footer__copy {
  text-align: center;
  font-size: 1rem;
  color: #A6A6A6;
  margin: 3.5rem;
}

@media screen and (min-width: 576px) {
  .home__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__data {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 350px;
  }
  .home__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .newsletter {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter__title {
    font-size: 2rem;
  }
  .about__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin: 0 2rem;
  }
  .services__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin: 0 2rem;
  }
  .menu__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .heading__title {
    display: block;
  }
  .app__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc($header-height)1.5rem;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-left: 2.5rem;
    margin-bottom: 0px;
  }
  .nav__toggle {
    display: none;
  }
  .home__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: row;
  }
  .home__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 1024px) {
  .main-header {
    padding: 1.5rem 5rem;
  }
  .main-main {
    padding: 1rem;
    margin-top: 3rem;
  }
  .body-container {
    max-width: 1200px;
  }
  .home {
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__container {
    width: 90%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__data {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .home__title {
    font-size: 4.25rem;
  }
  .home__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .newsletter__title {
    font-size: 1.5rem;
  }
  .newsletter__btn {
    margin-top: 2rem;
  }
  .about {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin: 0 2rem;
  }
  .services__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin: 0 2rem;
  }
  .menu__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    margin: 0 5rem;
  }
  .app__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.button,
.newsletter__btn {
  display: inline-block;
  background-color: #00b309;
  color: #fff;
  padding: .75rem 1rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border: none;
}

.button:hover,
.newsletter__btn:hover {
  background-color: #5BAF65;
}
/*# sourceMappingURL=main.css.map */