@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin: 3rem, 0, 0, 0;
  font-size: 0.938rem;
  background-color: #FBFEFD;
  color: #707070;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*=========================
    DEFAULT DOCUMENT CSS
========================== */
.section {
  padding: 4rem 2rem;
}

.section-title {
  font-size: 1.5rem;
  color: #393939;
  margin-bottom: 1.5rem;
}

.section-subtitle {
  display: block;
  color: #00b309;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

/*=========================
    LAYOUT
========================== */
.body-container {
  max-width: 960px;
  width: calc(100%-2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.body-grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FBFEFD;
}

.nav {
  max-width: 1024px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-bottom: 1rem;
}

.nav__link, .nav__logo, .nav__toggle {
  color: #707070;
  font-weight: 400;
}

.nav__logo {
  font-size: 700;
}

.nav__logo:hover {
  color: #272727;
}

.nav__link {
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  color: #272727;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: #FBFEFD;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: 100;
  }
  main {
    margin-top: 50px;
  }
}

.show-menu {
  top: 3rem;
}

.active-link {
  color: #00b309;
}

.scroll-header {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: inherit;
  z-index: 10;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: #5BAF65;
}

.scrolltop__icon {
  font-size: 2.5rem;
  color: #fff;
  background-color: #00b309;
  border-radius: 5px;
}

.scroll-top {
  visibility: visible;
  bottom: 1.5rem;
}

.home__container {
  height: calc(100vh-($header-height));
  -ms-flex-line-pack: center;
      align-content: center;
}

.home__title {
  font-size: 2.25rem;
  line-height: 1.175;
  color: #393939;
  margin-bottom: 0.5rem;
}

.home__sub-title {
  font-size: 1.25rem;
  color: #393939;
}

.home__image {
  width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

.about__data {
  text-align: center;
}

.about__description {
  text-align: left;
  margin-bottom: 1.5rem;
}

.services__content {
  text-align: center;
}

.services__image {
  width: 300px;
}

.services__name {
  margin-bottom: 0;
}

.services__description {
  text-align: left;
}

.menu__container {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding: .75rem;
  -webkit-box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
          box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
}

.menu__image {
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
}

.menu__name, .menu__price {
  font-weight: 700;
  color: #393939;
}

.menu__name {
  font-size: 0.938rem;
}

.menu__detail, .menu__price {
  font-size: 0.813rem;
}

.menu__detail {
  margin-bottom: 0.5rem;
}

.menu__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}

.app__data {
  text-align: center;
}

.app__description {
  margin-bottom: 1rem;
}

.app__stores {
  margin-bottom: 2.5rem;
}

.app__store {
  width: 120px;
  margin: 0 0.5rem;
}

.contact__container {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #00b309;
  color: #fff;
  padding: .75rem 1rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button:hover {
  background-color: #5BAF65;
}
/*# sourceMappingURL=main.css.map */