.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
  // border: 2px red solid;
}

.nav{
  max-width: 1024px;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // &__menu {
  //   border: 2px solid red;
  // }


  &__item{
    margin-bottom: $mb-2;
  }

  &__link, &__logo, &__toggle {
    color: $text-color;
    font-weight: $font-medium;
  }

  &__logo:hover {
    color: $accent-color;
  }

  &__link {
    transition: .3s;

    &:hover{
      color: $accent-color;
    }
  }

  &__toggle {
    font-size: 1.5rem;
    cursor: pointer;
  }

}

@media screen and (max-width: 768px){
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: $body-color;
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: $z-fixed;

  }
}

// Show the menu

.show-menu {
  top: $header-height;
}

