.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
  // border: 2px solid red;
  padding: 1rem;
}

.nav{
  max-width: 1024px;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item{
    margin-bottom: $mb-2;
  }

  &__link, &__logo, &__toggle {
    color: $text-color;
    font-weight: $font-medium;
  }

  &__logo {
    font-size: $font-large;

    &:hover {
      color: $accent-color;
    }
  }

  &__link {
    transition: .3s;

    &:hover{
      color: $accent-color;
    }
  }

  &__toggle {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px){
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: $body-color;
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: $z-fixed;
    // border: 2px solid green;
  }
  main {
    margin-top: 50px;
  }
}

// Show the menu
.show-menu {
  top: $header-height;
}

// Active menu
.active-link { 
  color: $primary-color;
}

// Activate scroll-header
.scroll-header {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

// Scroll top which shows at the bottom left-handside of the mobile page
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: rgba(52, 134, 70, 0.2);
  background: inherit;
  z-index: $z-tooltip;
  transition: .5s;
  visibility: hidden;

  &:hover {
    background-color: $complimentary-color;
  }

  &__icon {
    font-size: 2.5rem;
    color: $white;
    background-color: $primary-color;
    border-radius: 5px;
  }
}
.scroll-top { // This scroll pertains to 
  visibility: visible;
  bottom: 1.5rem;
  // background: red;
}


@media screen and (min-width: 768px){
  body {
    margin: 0;
  }

  .section{
    padding-top: 8rem;
  }

  .nav {
    height: calc($header-height) + 1.5rem;
  }
}
