.home {
  &__container {
    height: calc(100vh-($header-height));
    align-content: center;
  }

  &__title {
    font-size: $biggest-font-size;
    line-height: 1.175;
    color: $title-color;
    margin-bottom: $mb-1;
    // padding-top: 1.5rem;
  }

  &__subtitle {
    font-size: $h2-font-size;
    color: $title-color;
  }

  &__image {
    width: 300px;
    align-self: center;
    margin: auto;
  }  
}

.about {
  &__data {
    text-align: center;
  }
  
  &__subtitle {
    font-size: $h1-font-size;
    color: $title-color;
    margin-bottom: $mb-3;
  }

  &__description {
    text-align: left;
    margin-bottom: $mb-3;
  }
}

.services {
  text-align: center;

  &__content {
    text-align: center;
  }

  &__image {
    width: 300px;
  }

  &__name {
    margin-bottom: 0;
  }

  &__description {
    text-align: left;
  }
}

.menu {

  &__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $container-color;
    padding: .75rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
  }

  &__image {
    width: 200px;
    align-self: center;
    margin-bottom: $mb-2;
  }

  &__name, &__price {
    font-weight: 700;
    color: $title-color;
  }

  &__name {
    font-size: $normal-font-size;
  }

  &__detail, &__price {
    font-size: $small-font-size;
  }

  &__detail {
    margin-bottom: $mb-1;
  }

  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
  }
}

.app {

  &__data {
    text-align: center;
  }

  &__description {
    margin-bottom: $mb-2;
  }

  &__stores {
    margin-bottom: $mb-5;
  }

  &__store {
    width: 120px;
    margin: 0 $mb-1;
  }
}

.contact {

  &__container {
    text-align: center;
  }
}

.footer {

  &__container {
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }

  &__logo {
    font-size: $h3-font-size;
    color: $primary-color;
    font-weight: 700;
  }

  &__description {
    display: block;
    font-size: $small-font-size;
    margin: .25rem 0 $mb-3; 
  }

  &__social {
    font-size: $h2-font-size;
    color: $text-color;
    margin-bottom: $mb-2;
  }

  &__title {
    font-size: $h2-font-size;
    color: $title-color;
    margin-bottom: $mb-2;
  }

  &__link {
    display: inline-block;
    color: $text-color;
    margin-bottom: $mb-2;

    &:hover{
      color: $primary-color;
    }
  }

  &__copy {
    text-align: center;
    font-size: $small-font-size;
    color: $text-color-light;
    margin: 3.5rem;
  }
}