* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: $poppins;
  font-weight: normal;
  margin: 3rem, 0, 0, 0;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.body-container {
  max-width: 960px;
  width: calc(100%-2rem);
  margin-left: $mb-2;
  margin-right: $mb-2;
}