* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: $poppins;
  font-weight: normal;
  margin: $header-height, 0, 0, 0;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
  line-height: 1.6;
  // border: 2px red solid;
}
section {
  margin-bottom: 1.5rem;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  margin-bottom: $mb-2;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
} 

img { 
  max-width: 100%;
  height: auto;
}


/*=========================
    DEFAULT DOCUMENT CSS
========================== */

.section {
  padding: 4rem 2rem;

  &-title {
    font-size: $h1-font-size;
    color: $title-color;
    margin-bottom: $mb-3;
  }

  &-subtitle {
    display: block;
    color: $primary-color;
    font-weight: $font-medium;  
    margin-bottom: $mb-1;
  }
}

.section:last-child {
  margin-bottom: 0;
}

.heading {
  &__title {
    font-size: 5.275rem;
    font-weight: 700;
    line-height: 1.175;
    color: #393939;
    text-align: center;
  }
}

.btn-holder{
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

/*=========================
    LAYOUT
========================== */

.body-container {
  max-width: 960px;
  width: calc(100%-2rem);
  margin-left: $mb-2;
  margin-right: $mb-2;
  // border: 2px green solid;
  
}

.body-grid {
  display: grid;
  gap: 1.5rem;
}

@media screen and (min-width: 576px){

.section-title {
  display: block;
  text-align: center;
  }
}

@media screen and (min-width: 1024px){
  .body-container{
    margin: 0 auto;
  }
}

