// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

// Font variables
$cardo: 'Cardo', serif;


// Styles

body {
  font-family: $cardo;
  font-weight: normal;
}