// Colours

$primary-colour: #3ed810;
$secondary-colour: #272727;
$tiertiary-colour: #272727;
$accent-colour: #272727;
$complimentary-colour: #5BAF65;

$light-grey: #828182;
$white: #fff;
$black: #000;


// Font and typography


// Margins 

$mb-1: .5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;